* {
    margin  :0;
    box-sizing: border-box;
}
.main-section{
    /* border: 1px red solid; */
    width:100vw;/*viewport width*/
    height:60vh;/*view port height*/
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.804)), url(./image-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* 
    background-color: linear-gradient(45deg, 
    red 0% 25%, green 25% 75%,  yellow 75% 100%; */

}
.main-section-header{
    /* border:1px solid black; */
    width:80%;
    margin :1px 0;
    padding:8px; 
    display:flex; 
     flex-direction: row; 
     justify-content: end;
     box-sizing: border-box;

    

}
/* flex-direction:row;
justify-content:;horizontally
align-items:center;vertically */

/* flex-direction:column;
justify-content:;vertically
align-items:center;horizontally */
.btn{
    border: none;
    background-color: transparent;
    color:white;
    padding: 8px 4px;

}
.create-account{
    border: 1px solid white;
    margin-left: 8px;

}
.brand{
    /* border:1px solid black; */
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;

}
.brand-logo{
    font-style:arial;
    font-size: 60px; ;
    font-weight: bold;
    color:#EB2929;
    padding: 10px;
}
.main-title{
    background-color: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-style: arial;
    margin-top: 32px;
}
.search{
    /* border: 1px solid black; */
    background-color: none;
    width:560px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    color: #636F88;
} 
.search-location{
    width:30%;
    padding: 10px;
    
}
.search-restaurant{
    width:60%;
    padding: 10px;
    
}

.quick-search{
    height: 40vh;
    display: flex;/*by default direc== row*/
    justify-content: center;
}
.quick-search-area{
    /* border: 1px black; */
    width: 80%;
    
}
  


.quick-search-title{
    width:30vw;
    color: #192F60;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    font-style: arial;
}
.quick-search-subtitle{
    width:40vw;
    color: #8C96AB;
    font-size: 14px;
    margin: 4px 0;
    font-style:italic;
}
.quick-search-items{
    display:flex;
    flex-wrap: wrap;
   

}
.food-items{
    /* border:1px solid black;  */
    display:  flex;/* flex is coming in loop 
    again so default row will cancel row and we will get 
    column no need to use flex-direction:column; */
    width:30%;
    margin: 8px;
    box-shadow: 0px 0px 5px 0px gray;
}
.image-item{
    width:40%;
    height: 20vh;
    /* margin:4px; */
}
.food-item-text-area{
    margin:4px;
    height: 15vh;
}
.food-item-title{
    font-size: 18px;
    font-weight: bold;
    color: #192F60;
    margin: 4px;
}
.food-item-subtitle{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #8C96AB;
    margin: 4px;
}

 